<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="alert info">
      <h4>Error</h4>
      <p><%= message %></p>
    </div>

    <a href="/" class="button primary">Back to Home</a>
  </body>
</html>
